fastapi
uvicorn[standard]

python-jose
PyJWT
passlib[bcrypt]

pydantic
pydantic[email]

mysql-connector-python

python-dotenv

firebase-admin

python-multipart

Pillow

bleach

geopy

redis

python-dateutil

email-validator

gunicorn
