gunicorn
mysql-connector-python
eventlet
Flask
Flask-SocketIO
Flask-Cors
Flask-Mail
Flask-MySQLdb
mysqlclient
Pillow
cloudinary
dotenv
random2
Werkzeug
01os
DateTime
base2base
amulet-io
blankimage-pil
re01
jaraco.functools
Flask-MySQLdb
